body {
  background: lightgray;
  font-family: "Helvetica", "Arial", sans-serif;
  width: 90%;
  max-width: 600px;
  margin: auto;
  margin-top: 3rem;
}

img {width:100%;}

h1 {
  font-size: 2rem;
}

hr {
  margin-top: 25px;
  margin-bottom: 20px;
}

table td, th {
  border: 1px solid lightgray;
  padding: 8px;
}

table th {
  color: gold;
  background-color: black;
}

table {
  border: 1px solid darkgray;
  background-color: white;
  width: 100%;
  margin-bottom: 200px;
}

tr:nth-child(even) {
  background: #CCC
}
tr:nth-child(odd) {
  background: #FFF
}


.bitter {
  font-family: 'Bitter', serif;
}