/*
 CSS for the main interaction
*/
.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6),
.tabset > input:nth-child(13):checked ~ .tab-panels > .tab-panel:nth-child(7),
.tabset > input:nth-child(15):checked ~ .tab-panels > .tab-panel:nth-child(8),
.tabset > input:nth-child(17):checked ~ .tab-panels > .tab-panel:nth-child(10),
.tabset > input:nth-child(19):checked ~ .tab-panels > .tab-panel:nth-child(11) {
  display: block;
}

/*
 Styling
*/
body {
/*  font: 16px/1.5em "Overpass", "Open Sans", Helvetica, sans-serif;*/
/*  color: #333;*/
/*  font-weight: 300;*/
}


/*colors at-sa
#886E3E
#4C685A*/

.tabset > label {
  position: relative;
  display: inline-block;
  padding: 0.5rem 0.5rem 1rem;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
}

.tabset > label::after {
/*  content: "";
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 22px;
  height: 4px;
  background: #8d8d8d;*/
}

input:focus-visible + label {
  outline: 2px solid rgba(0,102,204,1);
  border-radius: 3px;
}

.tabset > label:hover,
.tabset > input:focus + label,
.tabset > input:checked + label {
  color: #fff;
/*  font-weight: 400;*/
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: #06c;
}

.tabset > input:checked + label {
  border-color: #ccc;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
  background-color: #122806;
  border-radius: 0.3rem;
}

/*baseline*/
.cslim .tabset > input:checked + label {
  border-color: #ccc;
/*  border-bottom: 1px solid #fff;*/
/*  margin-bottom: -1px;*/
  background-color: #288790;
  border-radius: 0.3rem;
  color: #fff;
  
}


.cslim .tabset > input:checked + label {
  border-color: #ccc;
/*  border-bottom: 1px solid #fff;*/
/*  margin-bottom: -1px;*/
  background-color: #288790;
  border-radius: 0.3rem;
  color: #fff;
  
}




.cslim .tabset label{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

/*endbaseline*/


.tab-panel {
  display: flex;
  padding: 0.1rem 0;
  border-top: 1px solid #ccc;
/*  background-image:   url("../img/tgl/the-path.jpg");*/
}

/*
 Demo purposes only
*/
*,
*:before,
*:after {
  box-sizing: border-box;
}


/*link colors*/





.tabset {
  max-width: 65em;
}



/*action-journey {
  background-image:   url("../../img/tgl/the-path.jpg");
}*/
/*media query start*/


/*Collapse*/

.container2 {
  background-color: seagreen;
/*  position: absolute;*/
  top: 50%;
  left: 50%;
/*  transform: translate(-50%, -50%);*/
  border: 1px solid #bbb;
  border-radius: 5px;
  overflow: hidden;
  color: #fff;
  font-family: Roboto;
}

input:checked ~ p {
  height: 50px;
  padding-top: 10px;
}

input:checked ~ .fa-chevron-down {
  transform: rotate(180deg);
}

.collapse {
  position: relative;
  margin: 0 auto;
  cursor: pointer;
  padding: 10px 20px;
  width: 300px;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}

.collapse:hover {
  background: rgba(0,0,0,0.2);
}

input {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  cursor: pointer;
}

.fa-chevron-down {
  position: absolute;
  right: 20px;
  top: 17px;
  font-size: 16px;
  transition: .2s linear;
}

.collapse p {
  transition: .2s ease-in;
  width: 100%;
  height: 0px;
  overflow: hidden;
}